
**{
  padding: 0;
  margin: 0;
}
body{

font-family: 'Open Sans', sans-serif;

/*  min-width:1200px;
  font-family: "Roboto","Arial", sans-serif;
  font-size: 18px;
  color: #f2f2f2;
  line-height: 24px;*/
}
.btn{}
.to-right{
  text-align: right;
  float:right;
}
/*@media only screen and (min-width : 320px) {}
@media only screen and (min-width : 480px) {}
@media only screen and (min-width : 768px) {}
@media only screen and (min-width : 992px) {}
@media only screen and (min-width : 1200px) {}*/

header{
  background-color: #fff;
}
.logo img{
  margin: 15px 20px;
}

  .main-nav{
  display: none;
 }
.main-nav ul{
  display: inline-block;
}
.main-nav li{
  display: inline-block;
  margin: 28px 23px 23px;
}
.main-nav a{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #ef5350;
  text-transform: uppercase;

}
.sandwich{
 position: absolute;
 top:-1px;
 right:0;
 width: 70px;
 background-color: #ef5350;
 padding: 24px 26px;
 margin-right: 0;
 display:none;
}
.sandwich ul{
  padding: 0;
  margin: 0;
}
.sandwich li{
  list-style-type: none;

}
.sandwich-line{
 width: 18px;
 height: 2px;
 margin-bottom: 2px;
 background-color: #fff;
}
.sandwich-line:nth-child(3){
  margin-bottom: 0;
}
.tel{
  font-size: 18px;
  font-weight: bold;
  margin: 25px;
  margin-right: 50px;
  display:none;

}

@media only screen and (min-width : 320px) {
  .sandwich{
    display:inline-block;
  }
}
@media only screen and (min-width : 769px) {
  .sandwich{
    display:none;
  }

}
@media only screen and (min-width : 1200px)  {
 .main-nav{
  display:inline-block;
   }
 .sandwich{
  display:none;
 }
 .tel{
  display: inline-block;
 }
}
/*promo*/
.promo{
  background-color: #35444e;
  color: #fff;
  text-align: center;
}
.promo-title{
  margin: 160px auto 27px;
  width: 250px;
  font-size: 26px;
  text-transform:uppercase;


}
.promo-subtitle{
  display: block;
}
.btn-order{
  display: inline-block;
  margin: 70px 0 94px;
  padding: 16px 60px;
  border: 2px solid #ef5350;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

/*features*/
.features{
  background-color: #ef5350;
  color: #fff;
  text-align: center;
}
.features h2{
  margin-bottom: 0;
  margin-top: 0;
  padding: 60px 0;
}
.row ul{
  margin-top: 0;
  padding-top: 0;
  display: inline-block;
  text-align: top;
}
.features li{
  list-style: none;
  text-align: left;
  padding-bottom: 45px;
}
.features li:nth-child(3){
  padding-bottom: 60px;
}


























